.custom-radio-button .mat-radio-outer-circle {
    width: 240px; /* Adjust the width and height to match the desired size */
    height: 240px;
    border: white;
}
.mat-radio-outer-circle{
    border: white ;
}