<div class="mt-6">
    <div>
        <app-main-carousel></app-main-carousel>
    </div>
    <div>
        <app-product-slider title="Men's Jeans" [products]="products" ></app-product-slider>
    <app-product-slider title="Women's Gouns"  [products]="gouns" ></app-product-slider>
    <app-product-slider title="Lehanga Choli" [products]="saree" ></app-product-slider>
    <!-- <app-product-card-slider title="Men's T-Shirt"/> -->
    <app-product-slider title="Men's Kurta" [products]="men_kurta" ></app-product-slider>
    <app-product-slider title="Shoes" [products]="shoes" ></app-product-slider> 

    
    </div>
</div>
